.tag {
  background-color: var(--tag-clr);
  color: var(--white);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.38rem;
  gap: 0.2rem;
  margin: 0.2rem 0;
}

.point {
  margin: 0rem 0.5rem;
}
