.action_button {
    background-color: var(--black);
    border: 1px solid var(--text-secondary);
  
    padding: 0.5rem 1.5rem;
    border-radius: 1.875rem;
  }
  
  @media (min-width: 720px) {
    .action_button {
      padding: 1rem 1.875rem;
    }
  }
  